<div ng-controller="page-join">
    <br>
    <br>
    <div class="uk-grid">

        <div class="uk-width-1-1 uk-text-center">
            <h1>Create an account</h1> 
            <br>
            <form ng-submit="join()" name="joinform" class="uk-form">
                <fieldset>
                    <div class="uk-form-row">
                        <input type="text" name="firstname" ng-model="firstName" placeholder="First Name" class="uk-form-width-medium" focus="true">
                    </div>
                    <div class="uk-form-row">
                        <input type="text" name="lastname" ng-model="lastName" placeholder="Last Name" class="uk-form-width-medium">
                    </div>
                    <div class="uk-form-row">
                        <input ng-keydown="status=0" type="text" name="email" ng-model="email" placeholder="Email" class="uk-form-width-medium" required>
                    </div>
                    <div class="uk-form-row">
                        <input ng-keypress="status=0" type="password" name="password" ng-model="password" placeholder="Password" class="uk-form-width-medium" required>
                    </div>
                    <div class="uk-form-row">
                        <button id="signinButton" class="uk-button uk-button-primary uk-form-width-medium" type="submit" value="Submit" ng-disabled="status==1"><i ng-show="status==1" class="uk-icon-spinner uk-icon-spin uk-margin-small-right"></i>{{buttonText}}</button>
                    </div>
                    <br> Already a member? <a ui-sref="main.signin">Sign in</a>
                    <br>
                    <div style="width:300px;display: inline-block;" ng-show="status==2" class="uk-alert uk-alert-danger" ng-class="{'uk-animation-shake':status==2}">
                        </i>{{errorMsg}}</div>
                </fieldset>
            </form>
        </div>

    </div>


</div>
