<nav class="uk-navbar uk-margin-large-bottom" style="border-bottom: solid 1px #DDD;" ng-controller="page-main" >
    <div class="uk-container uk-container-center " style="height:40px">
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
        <div class="uk-navbar-content uk-hidden-small">
            <form class="uk-form uk-margin-remove uk-display-inline-block">
                <iimg src="img/logos/logo3.png" style="height:40px">
            </form>
        </div>
        <div class="uk-container-center" style="margin: 0 auto;width: 195px;text-align:center">
            <a class="uk-navbar-brand" href="layouts_frontpage.html">QUICK<img src="img/logos/logo3.png" style="height:30px">HUDDLE</a>
        </div>
        <div ng-show="1==1" class="uk-navbar-flip" style="padding-right:12px">
            <div style="padding-top:6px;color: #666;">
                <div ngCloak ng-show="user.status == 1">
                    <button ng-click="$state.go('main.signin')" style="width:85px;margin-right:2px;visible;" class="uk-button uk-button-small" type="button">Sign in</button>
                    <button ng-click="$state.go('main.join')" style="width:85px;margin-right:10px" class="uk-button uk-button-small" type="button">Join</button>
                </div>
                <div ngCloak id="userbar" ng-show="user.status==3" nggg-class="{'uk-animation-scale-up':user.status==3}">
                    <a ui-sref="main.dashboard" style="margin-right:2px" class="uk-icon-button uk-icon-th"></a>
                    <a ui-sref="main.home" style="margin-right:2px" class="uk-icon-button uk-icon-home"></a>
                    <a ui-sref="main.newhuddle" style="margin-right:2px" class="uk-icon-button uk-icon-life-ring"></a>
                 
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                        <button style="margin-right:2px;visible;" class="qh-tab-button" type="button">{{user.profile.firstName}} {{user.profile.lastName}}</button>
                        <div class="uk-dropdown uk-dropdown-flip">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li><a ui-sref="main.account">Account Settings</a>
                                </li>
                                </li>
                                <li class="uk-nav-divider"></li>
                                <li><a ng-click="user.signOut();">Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="tabsVisible == true"  style="text-align: center; display:block">
            <button ui-sref="main.dashboard" class="qh-tab-button "  ng-repeat="tab in tabs" ng-class="{ 'qh-tab-button-hot': tab.s}">{{tab.l}}<ng-class="{ 'text-success': awesome, 'text-large': giant }"</button>

            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
                                    <button ng-show="1==2" class="qh-tab-button"><i class="uk-icon-plus"></i></button>
                                    <div class="uk-dropdown uk-dropdown-small" style="text-align: left;">
                                        <ul class="uk-nav uk-nav-dropdown">
                                            <li><a href="#">Snack Sheet</a></li>
                                            <li><a href="#">Car Pool</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">FAQ</a></li>
                                            <li><a href="#">Blank Page</a></li>
                                        </ul>
                                    </div>
                                </div>
     
    </div>
</nav>
<div style="height:65px;width:300px">&nbsp;</div>


<div ui-view></div>
 
<style>
.uk-navbar {
    background: white;
    color: #444444;
    border: 0px solid #EBEBEB;
    bborder-bottom: 1px solid #EBEBEB;
    padding-top: 5px;
    position: fixed;
    right: 0px;
    left: 0px;
    border-radius: 0px;
    z-index: 1009;
    background-color: rgba(255, 255, 255, 0.95);
    //box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15); 
}

.uk-tab > li > a {
    display: block;
    padding: 2px 12px 2px 12px;
    border: 1px solid transparent;
    border-bottom-width: 0;
    color: #0077dd;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    text-shadow: 0 1px 0 #ffffff;
}

.qh-tab-button {
  -webkit-appearance: none;
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: #444444;
  text-transform: none;
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 12px;
  vertical-align: middle;
  line-height: 28px;
  min-height: 30px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  background-color: white;
  cursor: pointer;
   outline:0 !important;

}

.qh-tab-button:hover  { 
 
  font-weight: bold;
}

.qh-tab-button-hot  { 
  
  font-weight: bold;
}


.uk-container {

max-width:1000px;

}
</style>
